global:
  env: "debug"  # debug | release 运行模式

catcher:
  # 各类爬虫的配置
  bilibiliVideo:  #[bilibili视频更新爬取]的相关配置
    source: "bilibili" #设置来源名称
    target:
      - uid: "uid001"  #up主的uid
        category: "开发"  #设置信息分类
      - uid: "uid002"
        category: "经济学"
  rssAdapter:  #[rss适配器]的相关配置
    target:
      - url: "rss"  #rss订阅链接
        source: "博客"  #设置来源名称
        category: "开发"  #设置信息分类

manager:
  crontab: "0 19 * * *"  #cron表达式, 控制爬虫爬取和消息推送的频率
  immediate: true  #是否在项目启动时立马执行一次爬虫和消息推送
  ignoreEmptyMessage: true  #当没有新消息时是否忽略空消息的推送
  descriptionLengthLimit: 300  #推送消息中的描述文字的长度限制

messager:
  email:
    sender:
      nickname: imailHelper  #发件人昵称
      host: smtp.qq.com  #smtp服务器地址
      port: 587  #smtp服务器端口
      username: xxxx@xxx.com  #smtp登录账号
      password: password  #smtp登录密码
    receiver:
      users:  #收件人邮箱地址
        - xxxx@xxx.com